.notes {
    margin-top: 50px;
}
.notespan {
    color: '#ffaaaa';
}
ul.note-lists {
    padding-left: 0;
}

.headersection {
    margin-top: 100px;
}

button.onright{
    float: right;
    margin-top: 10px;
}

.text-area-show{
    border: 1px solid #c3c3c3;
    display:  flex;
    flex-wrap: wrap;
}
